* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 233, 233);
    padding: 40px 0;
}

.todo-app {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

.title {
    text-align: center;
}

#input-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    /* background-color: rgb(242, 233, 233); */
    margin-bottom: 20px;
}

#input-form input {
    height: 35px;
    width: 100%;
    color: #212121;
    border: none;
    border-bottom: 1px solid #999999;
    outline: none;
    padding: 0 10px;
}

#input-form button {
    width: fit-content;
    padding: 5px 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-between;
}

.option-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-label {
    font-size: 14px;
    color: #212121;
}

.option-select {
    padding: 3px;
    color: #212121;
    border-radius: 2px;
    width: 120px;
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border: 1px solid rgb(242, 233, 233);
    background-color: rgb(242, 233, 233);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content input {
    outline: none;
    border: none;
    color: #212121;
    padding: 5px;
    background-color: rgb(242, 233, 233);
}

.content input.editable {
    border-bottom: 1px solid #999999;
}

.completed {
    text-decoration: line-through;
}

.task-btns {
    display: flex;
    gap: 5px;
    justify-content: end;
}

.task-btns button {
    padding: 5px 10px;
    width: 100px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.toggle {
    background-color: rgb(35, 35, 81);
}

.edit {
    background-color: rgb(255, 102, 0);
}

.save {
    background-color: purple;
}

.delete {
    background-color: red;
}